.video {
    padding: 0.2em;
    box-sizing: border-box;
    list-style: none;
    transition: transform 200ms ease-in;
}

.video.list {
    width: 100%;
    flex-direction: column;
}

.video.grid {
    width: 50%;
    flex-direction: row;
}

.video:hover {
    transform: scale(1.02);
}

.inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0.5em;
    box-shadow: 1px 1px 5px 1px #ddd;
    cursor: pointer;
}

.thumbnail {
    width: 40%;
    margin-right: 15px;
}

.videoTit {
    font-size: 0.8rem;
}

.channelTit {
    font-size: 0.6rem;
}

@media screen and (max-width: 48rem) {
    .video.grid {
        width: 100%;
        flex-direction: column;
    }
}