.item {
    display: flex;
    align-items: center;
    width: 49.8%;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 6px;
    box-shadow: 2px 2px 4px 0px #ddd;
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.item:hover {
    transform: scale(1.02);
}

.item .thumbnail {
    width: 200px;
    float: left;
}

.item.list {
    width:100%;
}

.item.grid {
    width:50%;
}