* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  background: #000;
}

header {
  display: flex;
}

.logo {
  width: 100px;
  margin-right:20px;
}

.logo img {
  width: 100%;
}

.searchForm {
  align-items: center;
  display: inherit;
}

.searchForm input {
  width: 620px;
  height: 30px;
  outline: none;
}

.searchForm button {
  padding: 5px;
}

.video__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video__list .item {
  display: flex;
  align-items: center;
  width: 49.8%;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 6px;
  box-shadow: 2px 2px 4px 0px #ddd;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video__list .item:hover {
  transform: scale(1.02); 
}

.video__list .item .thumbnail {
  width: 200px;
  float: left;
}